<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to " #{user.follower.count}", following_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to "#{user.followed.count}", followers_user_path(user) %></th>
  </tr>
</table>

<div class='row'>
  <% if current_user.following?(user) %>
    <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: "btn btn-primary col-xs-5 col-xs-offset-1 " %>
  <% else %>
    <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "btn btn-success col-xs-5 col-xs-offset-1 " %>
  <% end %>
  <% if user.id == current_user.id %>
  <%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
  <% end %>
</div>